extends layout 
block content
  ul
    li
        a(href='#home') Home
      |   
    |   
    li.dropdown
      a.dropbtn(href='javascript:void(0)') Map View
      |     
      .dropdown-content
        a(href='/map') Rider
        |       
        a(href='#') Park Employee
        |       
        a(href='#') Link 3
  div#root
    div.View.WelcomeView
      h1.Banner Snowshoe Bike Park
      div.Message
        div.Title
          h3 Stay up to date on summer trails with our
          h1 Interactive Bike Map
        span.Details Access the Rider map
      div.NavButtons
        a(href="/map")
          div.NavButton Check it Out!